.stepflex{
    border-top: 5px solid transparent;
    text-align: center;
    margin:30px auto;
}
.stepflex dl{
    position: relative;
    width:160px;
    top:-5px;
    border-top: 5px solid #f00;
    float: left;
}
.stepflex dl.doing{
    border-top: 5px solid #cccccc;
}
.stepflex dl.success{
    border-top: 5px solid #00a65a;
}
.stepflex dl.fail{
    border-top: 5px solid #f00;
}
.stepflex dl .s-num{
    position: relative;
    margin: -15px auto 0;
    color: #fff;
    font-weight: 700;
    width: 23px;
    height: 23px;
    line-height: 23px;
    background-color: #cccccc;
    border-radius: 50%;
    text-align: center;
}
.stepflex dl.success .s-num{
    background-color: #00a65a;
}
.stepflex dl.fail .s-num{
    background-color: #f00;
}
.stepflex dl .s-text{
    color: #555;
}
.stepflex dl.success .s-text{
    color: #00a65a;
}
.stepflex dl.fail .s-text{
    color: #f00;
}