body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: "微软雅黑", serif;
}

.main {
    height: 100%;
    width: 100%;
}

.list {
    padding: 15px;
}

.list-item {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 170px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    color: #333;
    margin-bottom: 15px;
}

.list-item .username, .list-item .school, .list-item .grade {
    padding: 2px 20px;
    font-size: 15px;
}

.list-item .username {
    font-size: 18px;
    margin-top: 10px;
    /*padding: 20px;*/
}

.list-item .school, .list-item .grade {
    color: #777;
    margin-top: 3px;
}

.list-item .line {
    height: 1px;
    width: 100%;
    background-color: #e8e8e8;
    margin-top: 15px;
}

.kaoqin-tongji {
    width: 100%;
    margin-left: 5%;
    /*text-align: center;*/
}

.kaoqin-tongji td {
    display: inline-block;
    width: 32%;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
}

.kaoqin-date-circle {
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    margin-top: 17px;
    margin-right: 2px;
}

.okstatus {
    background-color: #83db74;
}

.notstatus {
    background-color: #fdde52;
}

.reststatus {
    background-color: #fc7f4e;
}

.list-item .list-item-icon {
    position: absolute;
    height: 94px;
    line-height: 94px;
    top: 12px;
    right: 15px;
}

.list-item .list-item-icon i {
    font-size: 30px;
    color: #aaa;
}
