body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: '微软雅黑', serif;
    font-size: 14px;
}

.multi-role {
    background: #fff;
    position: relative;
}

.multi-role .switchschool-item {
    padding: 5px 0 5px 10px;
    display: -webkit-box;
    line-height: 30px;
    border-bottom: 5px solid #f8f8f8;
    text-align: center;
}

.multi-role .switchschool-item .switchschool-title {
    -webkit-box-flex: 1;
    position: relative;
}

.title-name {
    font-size: 16px;
    color: #686868;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.switchschool-head {
    width: 100%;
}

.picker-calendar-day.picker-calendar-day-selected span {
    background: #fff;
    border: 2px solid #83db74;
    color: #333;
}

.picker-calendar-day.picker-calendar-day-normal span {
    background-color: #83db74;
}

.picker-calendar-day.picker-calendar-day-abnormal span {
    background-color: #fdde52;
}

.picker-calendar-day.picker-calendar-day-leave span {
    background-color: #fc7f4e;
}

.kaoqin-history-calender .kaoqin-tongji {
    width: 94%;
    margin-left: 6%;
}

.kaoqin-history-calender .kaoqin-tongji td {
    display: inline-block;
    width: 32%;
    margin: 16px 0;
}

.kaoqin-history-calender .kaoqin-date-circle {
    float: left;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
}

.pl10 {
    padding-left: 10px;
}

.kaoqin-history-calender .okstatus {
    background-color: #83db74;
}

.kaoqin-history-calender .notstatus {
    background-color: #fdde52;
}

.kaoqin-history-calender .reststatus {
    background-color: #fc7f4e;
}

.kaoqin-day-detail {
    width: 100%;
    min-height: 140px;
    padding-bottom: 40px;
}

.kaoqin-detail-date {
    color: #666;
    height: 29px;
    line-height: 29px;
    padding-left: 8%;
    background-color: #f0f0f0;
}

.kaoqin-day-detail .history-list-con {
    padding-left: 8%;
    position: relative;
}

.mt20 {
    margin-top: 20px;
}

.kaoqin-day-detail .history-list-con .kaoqin-detail-status {
    position: absolute;
    top: 0;
    left: 50%;
}

.kaoqin-day-detail .history-list-con .time {
    position: absolute;
    top: 0;
    right: 8%;
    color: #888;
}

.c-83db74 {
    color: #83db74;
}