body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "微软雅黑", serif;
}

a {
    color: #333;
}

.main {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.multi-role {
    background: #fff;
    position: relative;
}

.multi-role .switchclass-item {
    padding: 0;
    display: -webkit-box;
    line-height: 30px;
    border-bottom: 5px solid #f8f8f8;
    text-align: center;
}

.multi-role .switchclass-item .switchclass-title {
    -webkit-box-flex: 1;
    position: relative;
}

.title-name {
    font-size: 18px;
    color: #686868;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    position: relative;
}

.switchclass-head {
    width: 100%;
}

.icons-choose {
    text-align: center;
    color: #1aad19;
    cursor: pointer;
    margin: -1px;
    position: absolute;
    right: 15px;
    top: 0;
    line-height: 30px;
}

.icons-choose a {
    font-size: 20px;
    color: #1aad19;
}

.kaoqin-tongji {
    width: 100%;
    margin-left: 5%;
}

.kaoqin-tongji td {
    display: inline-block;
    width: 32%;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
}

.kaoqin-date-circle {
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    margin-top: 17px;
    margin-right: 2px;
}

.okstatus {
    background-color: #83db74;
}

.notstatus {
    background-color: #fdde52;
}

.reststatus {
    background-color: #fc7f4e;
}

.list {
    padding: 15px;
}

.list-item {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 120px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    color: #333;
    margin-bottom: 15px;
}

.list-item .username, .list-item .parent, .list-item .mobile, .list-item .otherinfo {
    padding: 0 20px;
    font-size: 15px;
}

.list-item .username {
    font-size: 18px;
    margin-top: 8px;
}

.list-item .parent, .list-item .mobile, .list-item .otherinfo {
    color: #777;
    margin-top: 2px;
}
.warning {
    color: lightgray;
    margin: 5px;
    text-align: center;
    display: block;
}