#pay {
    width: 210px;
    height: 50px;
    border-radius: 15px;
    background-color: #FE6714;
    border: 0 #FE6714 solid;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
#amount {
    color:#f00;
    font-size:50px
}