body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding:0;
    background-color: #f2f2f2;
    font-family: "微软雅黑";
}
a{
    color: #333;
}
::-webkit-scrollbar {
    width: 0em;
}
::-webkit-scrollbar:horizontal {
    height: 0em;
}
.header{height: 90px;width: 90%;margin: 0;padding:0 5%;background-color: #1aad19;}
.header .title{height: 60px;line-height: 60px;text-align: center;font-size: 24px;color: #fff;}
.header .time{height: 30px;width: 100%;text-align: right;color:#fff;}

.subjectItem{width: 100%;min-height: 300px;background-color: #fff;margin-top: 15px;font-size: 14px;padding-bottom: 20px;}
.subjectItem .subj-title{color: #333;height:40px;line-height: 40px;font-size: 20px;padding-left: 20px;}
.subjectItem .subj-tab{margin-left: 20px;width: auto;display: inline-block;height: 30px;line-height: 30px;border-radius: 8px;}
.subjectItem .subj-tab .tab-item{font-size:13px;display: inline-block;height: 100%;padding: 0 6px;border: 1px #1aad19 solid;margin: 0;float: left;border-right: 0;}
.subjectItem .subj-tab .tab-item:first-child{border-radius: 7px 0 0 7px;}
.subjectItem .subj-tab .tab-item:last-child{border-right: 1px #1aad19 solid;border-radius: 0 7px 7px 0;}
.subjectItem .subj-tab .tab-item.cur{background-color: #1aad19;color: #fff;}
.subjectItem .subj-main{margin-top: 10px;}
.subjectItem .subj-main .show-item{width: 90%;margin-left: 5%;text-align: center;display: none;}
.subjectItem .subj-main .show-item.cur{display: block;}
.subjectItem .subj-main .show-item .table-title{background-color:#1aad19;color: #fff;height: 30px;line-height: 30px;font-size: 16px;border-radius: 5px 5px 0 0;}
.subjectItem .subj-main .show-item .table-count{width: 100%;border: 1px solid #1aad19;text-align: center;}
.subjectItem .subj-main .show-item .table-count tr{height: 30px;}
.subjectItem .subj-main .show-item .table-count tr td{border-bottom: 1px #1aad19 dashed;}
.subjectItem .subj-main .show-item .table-count tr td.subtit{border-right: 1px #1aad19 dashed;}
.subjectItem .subj-main .show-item .table-count tr:last-child td{border-bottom: 0;}
.anchor-point{
    position: fixed;
    bottom: 70px;
    right: 0;
    background-color:#1aad19 ;
    border-radius: 5px 0 0 5px;
}
.anchor-point ul{
    list-style:none;
}
.anchor-point li a{
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 3px 15px;
}
.footerTab{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #fff;
    opacity: 0.7;
    border-top: 1px solid #ddd;
}
.footerTab .btnItem{
    display: inline-block;
    width: 50%;
    float: left;
    height: 100%;
    text-align: center;
    position: relative;
}
.footerTab .btnItem i{
    font-size: 24px;
    margin-top: -3px;
}
.footerTab .btnItem p{
    font-size: 14px;
    top: 28px;
    position: absolute;
    width: 100%;
}
.footer-active {
    color: #1aad19;
}
#main{
    width: 100%;
    height: 360px;
}
