body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "微软雅黑", serif;
}

.weui_tab {
    position: relative;
    height: 100%;
}

div.weui_tab_bd {
    padding-bottom: 50px;
}

.multi-role {
    background: #fff;
    position: relative;
}

.multi-role .switchschool-item {
    padding: 5px 0 5px 10px;
    display: -webkit-box;
    line-height: 30px;
    border-bottom: 5px solid #f8f8f8;
    text-align: center;
}

.multi-role .switchschool-item .switchschool-title {
    -webkit-box-flex: 1;
    position: relative;
}

.title-name {
    font-size: 16px;
    color: #686868;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.switchschool-head {
    width: 100%;
}

.switchschool-head .addworkicon {
    position: absolute;
    right: 12px;
    width: 40px;
}

.tea-head {
    width: 100%;
    height: 38px;
    position: relative;
    z-index: 10;
}

.tea-select-list-icon {
    position: absolute;
    z-index: 101;
    right: 12px;
    height: 38px;
    line-height: 38px;

}

.switchschool-title .addworkicon a, .tea-select-list-icon .searchicon a {
    display: inline-block;
    font-size: 18px;
    width: 40px;
    text-align: center;
}

.selectlist-layout {
    font-size: 16px;
    position: relative;
    z-index: 100;
}

.selectlist-box {
    position: relative;
    z-index: 20;
}

.selectlist-box .select-box {
    display: inline-block;
    width: 100%;
    line-height: 40px;
    background-color: #fff;
    text-align: center;
    z-index: 6;
}

.select-ul {
    background: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 100;
    top: 38px;
}

.select-ul li {
    height: 41px;
    line-height: 41px;
    position: relative;
}

.select-ul li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-top: 1px solid #ececec;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 0;
}

.b-bottom:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #ececec;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 0;
}

.select-container {
    position: fixed;
    top: 88px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: rgba(0, 0, 0, .5);
}

.c-green {
    color: #1aad19;
}

#search .weui-popup__modal {
    background: #fff;
}

.weui-navbar {
    z-index: 9;
    background-color: #fff;
}

.weui-navbar__item {
    padding: 7px 10px;
    border: none;
}

.weui-navbar__item:after {
    border-right: 0;
}

.weui-navbar:after {
    border-bottom: 0;
}

.weui-navbar + .weui-tab__bd {
    padding-top: 40px;
}

.weui-navbar__item.weui-bar__item--on {
    background-color: #fff;
    color: #1aad19;
}

.teacher-list-box, .teacher-work-box {
    width: 100%;
    position: relative;
    z-index: 0;
}

.teacher-work-box .titleinfo {
    height: 91px;
    position: relative;
}

.titleinfo .titleinfo-head-left {
    max-width: 75%;
    height: 65px;
    float: left;
}

.titleinfo .worktime {
    width: 60px;
    height: 100%;
    text-align: right;
    margin-top: 15px;
    margin-right: 14px;
    font-size: 12px;
    color: #999;
    position: absolute;
    right: 0;
    z-index: 0;
}

.worktime .info-status {
    position: absolute;
    bottom: 30px;
    right: 0;
    pointer-events: none;
}

.worktime .info-status.green {
    color: green;
}

.worktime .info-status.red {
    color: red;
}
.worktime .info-status.yellow {
    color: yellow;
}

.titleinfo .titleinfo-head-left .title, .titleinfo .titleinfo-head-left .title-info {
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.titleinfo .titleinfo-head-left .title {
    font-size: 16px;
    line-height: 17px;
    margin-top: 17px;
}

.ml12 {
    margin-left: 14px;
}

.titleinfo .titleinfo-head-left .title-info {
    font-size: 15px;
    line-height: 16px;
    color: #999;
    margin-top: 11px;
    position: absolute;
    bottom: 15px;
}

.line {
    width: 100%;
    height: 10px;
    background: #f8f8f8;
}

.line:first-child {
    width: 0;
    height: 0;
}

.weui-tab__bd-item {
    min-height: 400px !important;
}

.received {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    font-weight: 700;
    margin-left: 10px;
    width: 20px;
    border-radius: 50%;
    background-color: red !important;
    color: #fff;
}


