body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding:0;
    background-color: #fff;
    font-family: "微软雅黑";
}
.weui_tab {
    position: relative;
    height: 100%;
}
.weui_tab_bd {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 55px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
div.weui_tab_bd {
    padding-bottom: 50px;
}
.overflow-homework{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow-y: auto!important;
    overflow-x: hidden!important;
    padding: 10px;
}
.homework{
    background: #fff;
}
.homework .artic-head{
    padding: 18px 11px 0;
    position: relative;
}
.homework .artic-title{
    font-size: 21px;
    width: 100%;
    display: inline-block;
    float: left;
}
.homework .artic-time{
    font-size: 15px;
    color: #ccc;
    display: inline-block;
    margin-top: 1.1px;
}
.homework .model-name-layout{
    font-size: 15px;
    padding: 0 11px;
    width: 100%;
    box-sizing: border-box;
}
.d-inline{
    display: inline-block;
}
.model-name-layout .model-name-left{
    width: 100%!important;
    float: left;
}
.white-over{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.homework .detail-content{
    min-height: 23px;
    padding: 0 11px;
}
.homework .wwbw{
    padding-top: 11px;
    font-size: 17px;
}
.wwbw img, .wwbw video {
    width: 100%;
}
.bottom-artic{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}
.bottom-icon-box {
    padding: 11px 0;
    display: inline-block;
    width: 49%;
    text-align: center;
}
.bottom-icon-box span{
    font-size: 17px;
}
.c-green {
    color: #1aad19!important;
}

.weui-popup__overlay{
    opacity: 0.3 !important;
}
.homework .artic-head {
    padding: 18px 11px 0;
    position: relative;
}
.homework .artic-title {
    font-size: 21px;
    width: 100%;
    display: inline-block;
    float: left;
}
.white-over {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.comment-selfEdit-con {
    height: 58px;
    position: relative;
    padding-left: 52px;
}
.edit-input {
    height: 29px;
    border: none;
    background: #efeef3;
    text-align: center;
    line-height: 29px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    color: #bababc;
    position: relative;
    top: 5.9px;
}
.comment-selfEdit-con .head {
    position: absolute;
    top: 0;
    left: 0;
    top: 3px;
    width: 35px;
    height: 35px;
    background-color: #ccc;
    vertical-align: top;
    margin-top: 0;
    border-radius: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.discuss_list {
    margin-top: -5px;
    font-size: 16px;
    padding: 1px 0;
    list-style: none;
}
.discuss_item:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.discuss_item {
    position: relative;
    padding-left: 45px;
    margin-top: 15px;
}
.discuss_item .user_info {
    min-height: 20px;
    overflow: hidden;
}
.discuss_item .nickname {
    display: block;
    font-weight: 400;
    font-style: normal;
    color: #727272;
    width: 147px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 16px;
}
.discuss_item .avatar {
    position: absolute;
    top: 0;
    left: 0;
    top: 3px;
    width: 35px;
    height: 35px;
    background-color: #ccc;
    vertical-align: top;
    margin-top: 0;
    border-radius: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.discuss_item .discuss_extra_info {
    color: #8c8c8c;
    font-size: 15px;
}
.discuss_item .discuss_message {
    color: #3e3e3e;
    line-height: 1.5;
    position: relative;
    padding-right: 20px;
}
.discuss_message_content {
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 17px;
    overflow: hidden;
}
.discuss_message .del-icon-btn {
    position: absolute;
    bottom: -10px;
    right: 0;
    display: inline-block;
    height: 46px;
    width: 35px;
    text-align: right;
    line-height: 46px;
}
.discuss_message .del-icon-btn span{
    font-size: 14px;
    color: #aaa;
}
.comment-content .comment-edit-con:before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 110%;
    height: 1px;
    border-top: 1px solid #dadada;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.comment-content .comment-edit-con {
    padding: 15px;
    height: 23px;
    text-align: center;
    font-size: 17px;
    position: relative;
    line-height: 23px;
}
.weui_cells {
    margin-top: 20px;
    background-color: #fff;
    line-height: 1.41176471;
    font-size: 17px;
    overflow: hidden;
    position: relative;
}
.comment-content .weui_cells:before {
    left: 17px;
}
.weui_cells:after, .weui_cells:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    color: #d9d9d9;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.weui_cells:before {
    top: 0;
    border-top: 1px solid #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.weui_cell {
    padding: 10px 15px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.weui_cell_primary {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.weui_textarea {
    display: block;
    border: 0;
    resize: none;
    width: 100%;
    color: inherit;
    font-size: 1em;
    line-height: inherit;
    outline: 0;
    font-family: "微软雅黑";
}
.weui_textarea_counter {
    color: #b2b2b2;
    text-align: right;
}
.weui_cells:after {
    bottom: 0;
    border-bottom: 1px solid #d9d9d9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.weui_cells:after, .weui_cells:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    color: #d9d9d9;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.card-content ,.mpnews-item{
    width:calc(100% - 20px);
    border:1px solid #ddd;
    padding: 10px 10px 0 10px;
    border-radius:5px;
    background-color: beige;
}
.card-content .card-title ,.mpnews-item .mpnews-title{
    font-size:20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.card-content .card-url ,.mpnews-item .mpnews-url{
    width:calc(100% - 20px);
    border-top:1px solid #ddd;
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    text-align: right;
    color: #00a0e9;
}
.mpnews-item{
    margin-bottom: 10px;
    height: 450px;
    text-align: center;
}
.mpnews-item .mpnews-digest{
    font-size: 14px;
    color:#ccc;
}
.mpnews-item img{
    height:300px ;
    width: 100%;
    vertical-align: top;
}
.mpnews-url , .mpnews-title , .mpnews-digest{
    height: 50px;
    line-height: 50px;
    margin:0 !important;
    text-align: left;
}
.mpnews-url{
    padding: 0 10px !important;
    text-align: right;
}