#subject-list .icheckbox_minimal-blue,
#item-list .icheckbox_minimal-blue {
	margin-top: -3px !important;
	margin-right: 2px !important;
}

#send-table .icheckbox_minimal-blue {
	margin-top: -3px !important;
	margin-left: 2px !important;
}
#send-table{
	overflow: auto;
}
.overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}