.title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.subject-title {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.table-pie {
    height: 350px;
    width: 100%;
}

.linetableitem {
    width: 180px;
    height: 210px;
    margin-right: 30px;
    display: inline-block;
}
