body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding:0;
    background-color: #f2f2f2;
    font-family: "微软雅黑";
}
.main{
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.multi-role {
    background: #fff;
    position: relative;
}
.multi-role .switchclass-item {
    padding: 0px;
    padding-right: 0;
    display: -webkit-box;
    line-height: 30px;
    border-bottom: 5px solid #f8f8f8;
    text-align: center;
}
.multi-role .switchclass-item .switchclass-title{
    -webkit-box-flex: 1;position: relative;
}
.title-name{
    font-size: 18px;
    color: #686868;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.switchclass-head{
    width: 100%;
}